body{
    background-color: black;
}

.bear{
    border: 5px solid white;
    width: 100%;
    margin-top: 100px;
}

.poster{
    width: 50%;
    margin-left: 25%;
    text-align: center;
    font-family:libre Baskerville, serif ;
    font-weight: 400;
    color: white;   
}